# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual Envs
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.Python

# Flask
instance/
*.sqlite3
*.db

# Environment Files
.env
.env.*

# Build / Distribution
build/
dist/
pip-wheel-metadata/
*.egg-info/
.venv/

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# Logs
*.log
*.out
*.err

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Linter / Type Checker
.mypy_cache/
.pylint.d/
